<td class="file-iconWrapper">
  <div class="file-icon file-icon--{{formattedType}}"></div>
</td>

<td class="file-contents">
  <div class="file-details">
    <div class="file-name">
      {{file.name}}
    </div>

    <div class="file-status">
      <div class="status-details">
        <span class="file-size">{{format-size file.size}}</span>
        <span class="file-description {{if file.hasError 'has-error'}}
                     {{if file.isCompleted 'is-completed'}}">
          {{formattedStatus}}
        </span> <!-- /.file-description -->
      </div> <!-- /.status-details -->

      {{#if isTransferring}}
        {{#if file.isCompleted}}
          <div class="file-action file-action--completed">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><g><path d="M42.604,71.421c-0.915,0-1.795-0.367-2.439-1.025L27.843,57.802c-1.318-1.348-1.295-3.508,0.052-4.826   c1.347-1.317,3.508-1.293,4.826,0.053l9.545,9.756l24.725-32.845c1.133-1.505,3.271-1.809,4.779-0.674   c1.505,1.133,1.807,3.273,0.674,4.778L45.331,70.062c-0.599,0.794-1.514,1.288-2.506,1.353   C42.75,71.419,42.677,71.421,42.604,71.421z"/></g></svg>
          </div> <!-- /.file-action -->
        {{/if}} {{!-- /if file.isCompleted --}}
        
      {{else}}
        <button class="file-action file-action--remove btn"
                {{action "remove" file}}>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><g><path d="M88.184,81.468c1.167,1.167,1.167,3.075,0,4.242l-2.475,2.475c-1.167,1.167-3.076,1.167-4.242,0   l-69.65-69.65c-1.167-1.167-1.167-3.076,0-4.242l2.476-2.476c1.167-1.167,3.076-1.167,4.242,0L88.184,81.468z"/></g><g><path d="M18.532,88.184c-1.167,1.166-3.076,1.166-4.242,0l-2.475-2.475c-1.167-1.166-1.167-3.076,0-4.242   l69.65-69.651c1.167-1.167,3.075-1.167,4.242,0l2.476,2.476c1.166,1.167,1.166,3.076,0,4.242L18.532,88.184z"/></g></svg>
        </button> <!-- /.file-action  -->
      {{/if}} {{!-- /if isTransferring --}}
            
      
    </div> <!-- /.file-status -->
    
  </div> <!-- /.file-details -->
  <div class="progress">
    <div class="progress-bar" role="progressbar"
         aria-valuemin="0" aria-valuemax="100" style={{progressStyle}}>
    </div>
  </div> <!-- /.progress -->
</td> <!-- /.file-contents -->
