<div class="upload-results {{if transferCompleted '' 'u-hidden'}}">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><path d="M68.604,36.099L43.513,61.19L32.396,50.073c-0.781-0.781-2.048-0.781-2.828,0  c-0.781,0.781-0.781,2.047,0,2.828l12.531,12.532c0.375,0.375,0.884,0.585,1.414,0.585s1.039-0.21,1.414-0.585l26.506-26.506  c0.781-0.781,0.781-2.047,0-2.828S69.385,35.317,68.604,36.099z"/><path d="M50,8C27.234,8,8,27.233,8,50s19.234,42,42,42s42-19.233,42-42S72.766,8,50,8z M50,88  c-20.598,0-38-17.402-38-38s17.402-38,38-38s38,17.402,38,38S70.598,88,50,88z"/></svg>
  
  <h2>Success</h2>

  <div class="upload-link">
    <div class="input-group">
      {{raven-input type="text" value=transferUrl class="form-control"
        readonly=true id="download-link" selectOnClick=true}}
      <div class="input-group-btn">
        <button class="btn btn--primary btn--copyUrl" type="button"
                data-clipboard-target="#download-link"
                title="Copy to clipboard">
          Copy
        </button>
      </div> <!-- /.input-group-addon -->
    </div> <!-- /.input-group -->
    <div class="link-prompt">
      Or try it: <a href="{{transferUrl}}" target="_blank">{{transferUrl}}</a>
    </div>
  </div> <!-- /.upload-link -->
  
  <p class="upload-email">
    {{#if sendingEmail}}
      Emailing your download link to
      <a href="mailto:{{email}}">{{email}}</a>
    {{else if successEmail}}
      Your download link was emailed to
      <a href="mailto:{{successEmail}}">{{successEmail}}</a>
    {{/if}}
  </p>
  
  
</div> <!-- /.upload-results -->

<div class="upload-fields {{if transferCompleted 'u-hidden'}}">
  <div class="upload-container {{if hasFiles 'has-files'}}">
    {{!--  Files for upload and download --}}
    <div class="upload-files js-dropzone">
      
      {{#if hasFiles}}
        <table class="table">
          <tbody>
            {{#each files as |file|}}
              {{file-item file=file remove="remove"
                isTransferring=isTransferring}}
            {{/each}}
          </tbody>
        </table>
      {{/if}} {{!-- /if hasFiles --}}
      
      <div class="upload-actions">
        <div class="btn btn--sm btn--plain upload-addFiles
                    {{if isTransferring 'disabled'}}">
          <i class="fa fa-plus"></i> Add more files
          <input type="file" name="file" class="js-fileUpload" multiple
                 class="btn" disabled={{isTransferring}}>
        </div> <!-- /.upload-addFiles -->

        <div class="upload-stats">
          <span class="stats-total {{if filesSizeIsExcessive 'has-error'}}">
            {{format-size filesSize}} of {{format-size maxFilesSize}}
          </span>
          
          {{#if filesWithErrorsCount}}
            <span class="stats-message hidden-xs
                         {{if filesWithErrorsCount 'has-error'}}">
              {{filesWithErrorsCount}}
              {{apply-inflection 'files' filesWithErrorsCount}}
              won't be uploaded
            </span>
          {{/if}}
        </div> <!-- /.upload-stats -->
        
      </div> <!-- /.upload-actions -->
      
    </div> <!-- /.upload-files -->
    
    
    {{!-- Empty state container --}}
    <div class="upload-empty js-dropzone">
      <div class="fileIcons">
        <div class="fileIcon fileIcon--1"></div>
        <div class="fileIcon fileIcon--2"></div>
        <div class="fileIcon fileIcon--3"></div>
      </div> <!-- /.files-container -->
      
      <div class="fileIcons-upload">
        <div class="uploadIcon"></div>
      </div> <!-- /.files-upload -->

      <div class="upload-prompt">
        <h2 class="prompt-title">Drag & drop</h2>
        <p class="prompt-subtitle">your files here or
          <span class="u-underline">browse</span>.</p>
      </div>

      <input type="file" name="file" class="js-fileUpload" multiple>
    </div> <!-- /.upload-empty -->
    
  </div> <!-- /.upload-container -->

  {{#if hasFiles}}
    {{!-- Trigger autocomplete with an ajax form submit
         Ref: http://stackoverflow.com/a/15634249 --}}
    <iframe id="remember" name="remember" class="u-hidden"
            src="about:blank">
    </iframe>
    <form target="remember" class="upload-recipients" method="post"
          action="about:blank">
      {{#form-group errors=emailErrors showErrorMessage=true}}
        <label for="upload-email">
          Want the download link via email?
        </label>
        {{input type="email" class="form-control" value=email id="upload-email"
          placeholder="(Optional) Email address" disabled=isTransferring}}
      {{/form-group}} <!-- /.formGroup -->
      <button id="email-submit" type="submit" class="u-hidden">share</button>
    </form> <!-- /.upload-recipients -->

    <div class="upload-transfer">
      <button class="btn btn--primary has-spinner
                     {{if isTransferring 'is-spinning'}}"
              disabled={{transferDisabled}} {{action "startTransfer"}}>
        Transfer {{apply-inflection 'Files' files.length}}
        <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
      </button>

      {{#if transferFailed}}
        <p class="error">
          Hmm. something went wrong with the transfer.
          Maybe try this again?
          If this persists you might have to reload the page.
        </p>
      {{/if}}
    </div> <!-- /.upload-transfer --> 
  {{/if}} {{!-- /if hasFiles --}}
</div> <!-- /.upload-fields -->
