////////////////////////////////////////////////////////////////////////////////
//
// _buttons.scss
//
// Use this partial to style the button classes
//
////////////////////////////////////////////////////////////////////////////////

/**
 * Bootstrap buttons customizations
 */
.btn {
    @include border-radius($borderRadius-base);
    color: $color-blue;
    font-size: $fontSize-base;
    font-weight: $fontWeight-normal;
    margin-bottom: 0;
    padding: 6px 12px;
    text-decoration: none;
}

.btn.active.focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn:active:focus, 
.btn:focus {
    outline: none;
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: $color-blueDark;
}

.btn.active, 
.btn:active {
    @include box-shadow(none);    
}


/**
 * Custom button variants
 */
.btn--bordered {
    @include border-radius($default-border-radius);
    border: 1px solid $color-blue;
    font-size: $fontSize-base;
    font-weight: $fontWeight-normal;
    padding: 7px 16px;
    text-decoration: none;
}

.btn--bordered:hover {
    border-color: $color-blueDark;
    color: $color-blueDark;
}

.btn--link:hover {
    text-decoration: underline;
}

.btn--primary {
    @include button-variant(#fff, $color-blueLight, $color-blue);
}

.btn--plain {
    @include button-variant($color-gray, #fff, $color-grayLighter);
}

.btn--inactive {
    @include button-variant(#fff, $color-grayLighter, $color-grayLight);
}

.btn--action {
    @include button-variant(#fff, $color-greenLight, $color-green);
}

.btn--plain:focus,
.btn--plain.focus,
.btn--plain:hover,
.btn--plain.hover {
    background-color: #fff;
    border-color: $color-blue;
    color: $color-blue;
}

.btn--plain:active:focus,
.btn--plain:active:hover {
    background-color: #fff;
    border-color: $color-blueDark;
    color: $color-blueDark;
}


// Button Sizes
// --------------------------------------------------
.btn--lg {
    // line-height: ensure even-numbered height of button next to large input
    @include button-size($padding-large--vertical, 
                         $padding-large--horizontal, 
                         $fontSize-larger, 
                         $lineHeight-tight,
                         $borderRadius-small);
    font-weight: $fontWeight-normal;
}

.btn--sm {
    // line-height: ensure proper height of button next to small input
    @include button-size($padding-small--vertical, 
                         $padding-small--horizontal, 
                         $fontSize-smaller,
                         $lineHeight-loose, 
                         $borderRadius-small);
}

.btn--xs {
    @include button-size($padding-xs--vertical, 
                         $padding-xs--horizontal, 
                         $fontSize-smaller, 
                         $lineHeight-loose, 
                         $borderRadius-small);
}

.btn--xlg {
    @include button-size(14px, 
                         30px, 
                         $fontSize-larger, 
                         $lineHeight-tight,
                         $borderRadius-base);
    font-weight: $fontWeight-normal;
}


// Button Spinners
// --------------------------------------------------
.btn.has-spinner .fa-spin {
    @include opacity(0);
    @include transition(opacity 0.25s, max-width 0.45s);
    display: inline-block;
    max-width: 0;
}

.btn.has-spinner.is-spinning .fa-spin {
    opacity: 1;
    max-width: 50px; // More than it will ever come, notice that this affects on animation duration
}

