////////////////////////////////////////////////////////////////////////////////
//
// _footers.scss
//
// Use this partial to style the (sticky) footers
//
////////////////////////////////////////////////////////////////////////////////

html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: $height-footer--home;
}

body > div[style] {
    // In the Google Webcache the <body> content seems to get wrapped in a
    // relative div and this offsets the footer so let's just fix the styling
    // http://webcache.googleusercontent.com/search?q=cache:https://volleyy.com/
    position: static !important;
}

.footer {
    background-color: #212a3e;
    border-top: 1px solid #e0e0e0;
    bottom: 0;
    font-size: $fontSize-base;
    position: absolute;
    width: 100%;
}

// Homepage footer
.footer--home {
    min-height: $height-footer--home;
}

.footer--home .footer-nav {
    font-size: $fontSize-medium--small;
    height: $height-footer--home;
    padding: 25px 0 0;
    text-align: left;
}

.footer--home .footer-nav .copyright {
    color: #ffffff;
    font-weight: $fontWeight-bold;
    margin-right:10px;
}

.footer--home .footer-nav a {
    color: $color-grayLighter;
    padding: 0 5px 5px;
}

.footer--home .footer-nav a:hover {
    color: $color-blueLight;
}

.footer--home .footer-brand {
    display: none;
    height: 30px;
    width: 30px;
    margin: 20px 15px;
}

.footer--home .footer-brand .logo {
    @include background-size(30px 30px);
    background-image: url(/assets/img/logo-glyph-light.png);
    background-position: 50% 0;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 30px;
    width: 30px;
    z-index: $zIndex-7;
}

@media (-webkit-min-device-pixel-ratio: 1.1), (min-resolution: 192dpx), (min-resolution: 1.1dppx) {
    .footer--home .footer-brand .logo {
        background-image: url(/assets/img/logo-glyph-light@2x.png);
    }
}

@media (min-width: 768px) {
    .footer--home .footer-nav {
        float: left;
        margin-left: 20px;
    }
    
    .footer--home .footer-brand {
        display: block;
        float: right;
    }
}