////////////////////////////////////////////////////////////////////////////////
//
// _forms.scss
//
// Use this partial to style the forms and form fields
//
////////////////////////////////////////////////////////////////////////////////

/**
 * Bootstrap forms customizations
 */
.form-control {
    @include box-shadow(none);
    @include input-placeholder {
        color: $color-grayLight;
    }
    color: $color-black;
    font-size: $fontSize-base;
    height: 40px;
}

/**
 * Custom form styles
 */
.form-group {
    margin-bottom: 20px;
    position: relative;

}

.form-group .formGroup-error {
    color: $color-red;
    font-size: 0.81em;
    margin: 5px 0 0;
}
