////////////////////////////////////////////////////////////////////////////////
//
// _home.scss
//
// Use this partial to style the home pages
//
////////////////////////////////////////////////////////////////////////////////

.page--home {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px 40px;
}

.page--home .page-header {
    border: none;
    margin: 20px 0 40px;
    padding-bottom: 0;
}


/**
 * Fine print (terms and privacy) pages
 */
.page--finePrint {
    max-width: 700px;
}

.page--finePrint .page-title {
    display: inline-block;
    font-size: 30px;
    font-weight: $fontWeight-medium;
    margin: 0;
}

.page--finePrint .page-tagline {
    display: inline;
    font-size: 22px;
    line-height: 32px;
}

.page--finePrint h3 {
    font-size: 19px;
    font-weight: $fontWeight-medium;
}

.page--finePrint ol li,
.page--finePrint ul li {
    margin: 0 0 1em;
}

.page--finePrint ol[type='a'] {
    list-style-type: lower-alpha;
    margin-left: 30px;
}

.page--finePrint ol[type='i'] {
    list-style-type: lower-roman;
    margin-left: 20px;
}

@media (max-width: 767px) {
    .page--finePrint .page-title {
        font-size: 22px;
    }
    
    .page--finePrint .page-tagline {
        font-size: 18px;
        line-height: 28px;
    }
    
    .page--finePrint h3 {
        font-size: 16px;
    }
}


/**
 * Upload page
 */
.page--upload .page-header {
    margin: 0 auto 20px;
    max-width: 700px;
    text-align: center;
}

.page--upload .page-title {
    font-size: 28px;
    font-weight: $fontWeight-medium;
    margin: 0 0 10px;
}

.page--upload .page-tagline {
    font-size: 18px;
}


@media (max-width: 767px) {
    .page--upload .page-title {
        font-size: 19px;
    }

    .page--upload .page-tagline {
        font-size: 16px;
    }
}
