////////////////////////////////////////////////////////////////////////////////
//
// _navigation.scss
//
// Use this partial to style the navigation bars
//
////////////////////////////////////////////////////////////////////////////////
/**
 * Bootstrap navigation bar customizations
 */
.nav>li>a:focus, 
.nav>li>a:hover {
    background: none;
}

.navbar-nav>li>a {
    padding-bottom: 7px;
    padding-top: 7px;
}


/**
 * Navbar defaults
 */
.navbar {
    background: transparent;
    margin-bottom: 0;
}


/**
 * Home pages Navigation bar
 */
.navbar--home {
    min-height: 60px;
    padding: 0;
}

.navbar--home .container-fluid {
    margin: 0 auto;
}

/**
 * Home pages navigation bar (collapsible) links
 */
.navbar--home .navbar-nav a {
    color: $color-grayDark;
    display: inline-block;
    font-size: $fontSize-base;
    margin: 20px 15px;
    padding: 5px 3px 0;
}

.navbar--home .navbar-nav a.active {
    font-weight: $fontWeight-bold;
}

.navbar--home .navbar-nav a:hover {
    color: $color-blue;
}

.navbar--home .navbar-nav a.is-primary {
    border-bottom: 2px solid $color-blue;
}

.navbar--home .navbar-nav a.is-primary:hover {
    color: $color-blue;
}

/**
 * Home page navigation bar logo
 */
.navbar--home .navbar-header {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar--home .navbar-brand {
    height: auto;
    max-width: 220px;
    padding: 3px 30px 0;
    width: 200px;
    z-index: $zIndex-2;
}

.navbar--home .navbar-brand .logo {
    @include background-size(122px 35px);
    @include transition(all 300ms ease-in-out 0s);
    background-image: url(/assets/img/logo-type.png);
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 35px;
    vertical-align: middle;
    width: 122px;
    z-index: $zIndex-1;
}

@media (-webkit-min-device-pixel-ratio: 1.1), (min-resolution: 192dpx), (min-resolution: 1.1dppx) {
    .navbar--home .navbar-brand .logo {
        background-image: url(/assets/img/logo-type@2x.png);
    }
}

/**
 * Home page navigation bar toggle
 */
.navbar--home .navbar-toggle .icon-bar {
    background-color: $color-blue;
}

/**
 * Home page navigation bar collapse
 */
.navbar--home .nav-account {
    border-top: 1px solid #fff;
    margin: 5px 30px 0;
    padding: 10px 0 0;
    text-align: center;
}

@media (max-width: 767px) {
    .navbar--home .navbar-header {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .navbar--home .navbar-brand {
        padding-left: 20px;
    }

    .navbar--home .navbar-brand .logo {
        @include background-size(87px 25px);
        height: 25px;
        width: 87px;
    }
    
    .navbar--home .navbar-collapse {
        background-color: #666a73;
    }
    
    .navbar--home .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
        padding: 10px;
    }
        
    .navbar--home .navbar-nav a {
        color: #dfdfdf;
        margin: 8px 0;
        padding: 4px 30px;
    }
        
    .navbar--home .navbar-nav .nav-account a {
        padding: 4px 5px;
    }
    
    .navbar--home .navbar-nav a:hover {
        color: #fff;
    }
}


.navbar--home.is-collapsed .logo--glyph {
    @include transform(translate(53px, 0px));
}

.navbar--home.is-collapsed .logo--type {
    @include opacity(0);
    @include transform(translate(-40px, 0px));
}

