////////////////////////////////////////////////////////////////////////////////
//
// _uploads.scss
//
// Use this partial to style the file uploads
//
////////////////////////////////////////////////////////////////////////////////

.upload-container,
.upload-recipients,
.upload-transfer,
.upload-results {
    @include border-radius($borderRadius-base);
    background: #fff;
    border: 1px solid #ebebeb;
    margin: 0 auto;
    max-width: 700px;
    overflow: hidden;
    padding: 20px 20px;
    position: relative;
}

.upload-container.has-files {
    padding-top: 12px;
}

.upload-container + .upload-container {
    margin-top: 10px;
}

.upload-container .upload-empty {
    @include border-radius($borderRadius-base);
    border: 2px dashed #ebebeb;
}

.upload-container.has-files .upload-empty {
    display: none;
}

.upload-container .fileIcons {
    height: 100px;
    margin: 0 auto 5px;
    padding: 21px;
    position: relative;
    width: 100%;
}

.upload-container .fileIcon {
    @include background-size(45px 60px);
    @include transition(all 300ms ease-in-out 0s);
    background-position: center center;
    background-repeat: no-repeat;
    height: 60px;
    left: 50%;
    margin: -28px;
    position: absolute;
    top: 50%;
    width: 45px;
}

.upload-container:hover .fileIcon {
    @include opacity(0.6);
}

.upload-container .fileIcon--1 {
    @include transform(rotate(-30deg) translate(-42px, -8px));
    background-image: url(/assets/img/icon-fileText.png);
    z-index: $zIndex-1;
}

.upload-container .fileIcon--2 {
    @include transform(rotate(0) translate(0));
    background-image: url(/assets/img/icon-fileVideo.png);
    z-index: $zIndex-2;
}

.upload-container .fileIcon--3 {
    @include transform(rotate(30deg) translate(42px, -8px));
    background-image: url(/assets/img/icon-fileImage.png);
    z-index: $zIndex-1;
}

.upload-container .uploadIcon {
    @include background-size(60px 56px);
    background-image: url(/assets/img/icon-upload.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 56px;
    margin: 0 auto;
    width: 60px;
}

@media (-webkit-min-device-pixel-ratio: 1.1), (min-resolution: 192dpx), (min-resolution: 1.1dppx) {
    .upload-container .fileIcon--1 {
        background-image: url(/assets/img/icon-fileText@2x.png);
    }
    .upload-container .fileIcon--2 {
        background-image: url(/assets/img/icon-fileVideo@2x.png);
    }
    .upload-container .fileIcon--3 {
        background-image: url(/assets/img/icon-fileImage@2x.png);
    }

    .upload-container .uploadIcon {
        background-image: url(/assets/img/icon-upload@2x.png);
    }
}

.upload-container:hover .fileIcon--1 {
    @include transform(rotate(-30deg) translate(-46px, -18px));
}

.upload-container:hover .fileIcon--2 {
    @include transform(rotate(0) translate(0, -6px));
}

.upload-container:hover .fileIcon--3 {
    @include transform(rotate(30deg) translate(46px, -18px));
}

.upload-container .upload-prompt {
    margin: 15px 0;
    text-align: center;
}

.upload-container .upload-prompt .prompt-title {
    font-size: 18px;
    font-weight: $fontWeight-bold;
    margin: 0 5px;
}

.upload-container .upload-prompt .prompt-subtitle {
    color: $color-gray;
    margin: 0;
}

.upload-container input[type="file"] {
    @include opacity(0);
    bottom: 0;
    cursor: pointer;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: $zIndex-3;
}

.upload-files .table {
    border: none;
    margin: 0;
}

.upload-files .table>tbody>tr>td {
    border: none;
}


/**
 * Upload file item
 */
.upload-files .file {
    clear: both;
}

.upload-files .file-iconWrapper {
    padding-left: 0;
    width: 39px;
}
    
.upload-files .file-icon {
    @include background-size(39px 52px);
    background-image: url(/assets/img/icon-fileGeneric.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 52px;
    width: 39px;
}

.upload-files .file-icon--archive {
    background-image: url(/assets/img/icon-fileArchive.png);
}
.upload-files .file-icon--audio {
    background-image: url(/assets/img/icon-fileAudio.png);
}
.upload-files .file-icon--code {
    background-image: url(/assets/img/icon-fileCode.png);
}
.upload-files .file-icon--excel {
    background-image: url(/assets/img/icon-fileExcel.png);
}
.upload-files .file-icon--image {
    background-image: url(/assets/img/icon-fileImage.png);
}
.upload-files .file-icon--pdf {
    background-image: url(/assets/img/icon-filePdf.png);
}
.upload-files .file-icon--powerpoint {
    background-image: url(/assets/img/icon-filePowerpoint.png);
}
.upload-files .file-icon--text {
    background-image: url(/assets/img/icon-fileText.png);
}
.upload-files .file-icon--video {
    background-image: url(/assets/img/icon-fileVideo.png);
}
.upload-files .file-icon--word {
    background-image: url(/assets/img/icon-fileWord.png);
}

@media (-webkit-min-device-pixel-ratio: 1.1), (min-resolution: 192dpx), (min-resolution: 1.1dppx) {
    .upload-files .file-icon--archive {
        background-image: url(/assets/img/icon-fileArchive@2x.png);
    }
    .upload-files .file-icon--audio {
        background-image: url(/assets/img/icon-fileAudio@2x.png);
    }
    .upload-files .file-icon--code {
        background-image: url(/assets/img/icon-fileCode@2x.png);
    }
    .upload-files .file-icon--excel {
        background-image: url(/assets/img/icon-fileExcel@2x.png);
    }
    .upload-files .file-icon--image {
        background-image: url(/assets/img/icon-fileImage@2x.png);
    }
    .upload-files .file-icon--pdf {
        background-image: url(/assets/img/icon-filePdf@2x.png);
    }
    .upload-files .file-icon--powerpoint {
        background-image: url(/assets/img/icon-filePowerpoint@2x.png);
    }
    .upload-files .file-icon--text {
        background-image: url(/assets/img/icon-fileText@2x.png);
    }
    .upload-files .file-icon--video {
        background-image: url(/assets/img/icon-fileVideo@2x.png);
    }
    .upload-files .file-icon--word {
        background-image: url(/assets/img/icon-fileWord@2x.png);
    }
}

.upload-files .file-contents {
    padding-right: 0;
}

.upload-files .file-name {
    font-size: $fontSize-base;
    margin-bottom: 2px;
}

.upload-files .file-status {
    margin-bottom: 5px;
    min-height: 20px;
    padding-right: 20px;
    position: relative;
}

.upload-files .status-details {
    color: $color-grayLight;
    font-size: $fontSize-smaller;
}

.upload-files .status-details span {
    padding-right: 5px;
}

.upload-files .status-details span + span {
    border-left: 1px solid $color-grayLighter;
    padding-left: 8px;
}

.upload-files .status-details .file-description.has-error {
    color: $color-red;
}

.upload-files .status-details .file-description.is-completed {
    color: $color-green;
}

.upload-files .file-action {
    background: transparent;
    padding: 6px 12px;
    position: absolute;
    right: -12px;
    top: -8px;
}

.upload-files .file-action--remove svg {
    fill: $color-grayLight;
    height: 16px;
    width: 16px;
}
.upload-files .file-action--remove:hover svg {
    fill: $color-red;
}

.upload-files .file-action--completed {
    right: -15px;
}

.upload-files .file-action--completed svg {
    fill: $color-green;
    height: 25px;
    width: 25px;
}


.upload-files .progress {
    @include box-shadow(none);
    height: 3px;
    margin-bottom: 0;
}

.upload-files .progress-bar {
    @include box-shadow(none);
    background-color: $color-blueLight;
    line-height: 3px;
}


/**
 * Upload summary stats
 */
.upload-files .upload-stats {
    color: $color-gray;
    display: inline-block;
    font-size: $fontSize-small;
    margin: 0 0 0 5px;
}

.upload-files .upload-stats .has-error {
    color: $color-red;
}

.upload-files .upload-stats .stats-total {
    font-weight: $fontWeight-medium;
}

.upload-stats span + span {
    border-left: 1px solid $color-grayLight;
    margin-left: 5px;
    padding-left: 10px;
}


/**
 * Upload action buttons
 */
.upload-files .upload-actions {
    color: $color-gray;
    display: none;
    margin: 8px 0 0;
    padding: 0;
    text-align: left;
}

.upload-container.has-files .upload-files .upload-actions {
    display: block;
}

.upload-files .upload-addFiles {
    cursor: pointer;
    position: relative;
}

.upload-files .upload-actions .btn + .btn {
    margin-left: 10px;
}


/**
 * Upload recipients block
 */
.upload-recipients {
    margin-top: 10px;
    padding-top: 10px;
}

.upload-recipients label {
    color: $color-grayDark;
    font-size: $fontSize-medium--small;
    font-weight: $fontWeight-medium;
}

.upload-recipients .form-group {
    margin-bottom: 5px;
}

.upload-recipients .formGroup-error {
    position: absolute;
    left: 0;
    top: 62px;
}


/**
 * Upload transfer action block
 */
.upload-transfer {
    background: transparent;
    border: none;
    margin-top: 10px;
    padding: 0;
}

.upload-transfer .error {
    color: $color-redDark;
    font-size: $fontSize-medium--small;
    font-weight: $fontWeight-bold;
}


/**
 * Upload results block
 */
.upload-results {
    text-align: center;
    overflow: hidden;
}

.upload-results svg {
    fill: $color-blueLight;
    height: 50px;
    width: 50px;
}

.upload-results h2 {
    font-size: 20px;
    margin: 5px auto;
}

.upload-results .upload-link {
    margin: 20px auto;
    max-width: 500px;
}

.upload-results .upload-link input {
    background-color: #fbfbfb;
    font-family: $fontFamily-mono;
}

.upload-results .upload-link input,
.upload-results .upload-link .btn {
    height: 45px;
} 

.upload-results .upload-link .btn {
    font-size: $fontSize-small;
    font-weight: $fontWeight-bold;
    letter-spacing: 1px;
    padding: 6px 15px;
    text-transform: uppercase;
}

.upload-results .upload-link .link-prompt {
    color: $color-grayLight;
    font-size: $fontSize-small;
    margin: 10px auto;
}

.upload-results .upload-link a {
    //border: 1px solid #ccc;
    color: $color-grayLight;
    display: inline-block;
    margin: 0 auto;
    max-width: 100%;
    text-decoration: underline;
    word-wrap: break-word;
}

.upload-results .upload-link .link-prompt a:hover {
    color: $color-grayDark;
}

.upload-results .upload-email {
    color: $color-gray;    
}


@media (max-width: 767px) {
    .upload-results svg {
        display: none;
    }
    
    .upload-results .upload-link .btn {
        padding: 6px 12px;
    }
}