////////////////////////////////////////////////////////////////////////////////
//
// _utilities.scss
//
// Use this partial to style the utility classes with syntax `u-<utilityName>`
//
////////////////////////////////////////////////////////////////////////////////

.u-hidden {
    display: none !important;
}

.u-bold {
    font-weight: $fontWeight-bold;
}

.u-underline {
    text-decoration: underline;
}