////////////////////////////////////////////////////////////////////////////////
//
// _variables.scss
//
// Use this partial to setup variables used by the project
//
////////////////////////////////////////////////////////////////////////////////

$borderRadius-base:          4px !default;
$borderRadius-large:         6px !default;
$borderRadius-small:         3px !default;
$borderRadius-large--editor: 20px;

$color-black:                #323b43;
$color-blue:                 #0e7dd8;
$color-blueDark:             #095390;
$color-blueLight:            lighten($color-blue, 15%);
$color-gray:                 #777777;
$color-grayLight:            lighten($color-gray, 10%);
$color-grayLighter:          lighten($color-grayLight, 15%);
$color-grayDark:             #47525d;
$color-red:                  #d46d6d;
$color-redDark:              #ba2e1c;
$color-redLight:             #e2a8a8;
$color-redLighter:           #fef1f1;
$color-green:                #1ba84e;
$color-greenLight:           #30b661;
$color-greenLighter:         #e8f7ed;
$color-orange:               #c39d02;
$color-orangeLight:          #f4cd33;
$color-orangeLighter:        #fffae4;


$fontFamily-sans:            'Avenir', 'Roboto', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
$fontFamily-serif:           Georgia, Cambria, 'Times New Roman', Times, serif;
$fontFamily-mono:            Consolas, Courier, monospace;

$fontSize-smaller:           12px;
$fontSize-small:             13px;
$fontSize-medium--small:     14px;
$fontSize-base:              15px;
$fontSize-large:             16px;
$fontSize-larger:            18px;


$fontWeight-light:           300;
$fontWeight-normal:          400;
$fontWeight-medium:          500;
$fontWeight-bold:            700;

$height-footer--home:        70px;

$lineHeight-tight:           1.3333333 !default; // extra decimals for Win 8.1 Chrome
$lineHeight-base:            1.42857143 !default;
$lineHeight-loose:           1.5 !default;
$lineHeight-looser:          1.7 !default;

$padding-base--vertical:     6px !default;
$padding-base--horizontal:   12px !default;
$padding-large--vertical:    10px !default;
$padding-large--horizontal:  16px !default;
$padding-small--vertical:    5px !default;
$padding-small--horizontal:  10px !default;
$padding-xs--vertical:       1px !default;
$padding-xs--horizontal:     5px !default;
$padding-base--editorEmbed:  10px;
