////////////////////////////////////////////////////////////////////////////////
//
// app.scss
//
// In this file you should write your main styles (or centralize your imports).
//
////////////////////////////////////////////////////////////////////////////////

@import "base";
@import "fonts";
@import "mixins/buttons";
@import "variables";
@import "reset";
@import "zindex";
@import "error";
@import "buttons";
@import "utilities";
@import "navigation";
@import "footers";
@import "forms";
@import "uploads";
@import "home";

body {
    background-color: #f4f4f4;
    color: $color-black;
    font-family: $fontFamily-sans;
    font-weight: $fontWeight-normal;
    font-size: $fontSize-base;
    line-height: $lineHeight-base;
}

a {
    color: $color-blue;
}

a:hover {
    color: $color-blueDark;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}
