<section class="page page--home page--upload">
  <div class="page-header">
    <h1 class="page-title">
      Transfer files instantly &mdash; save your cloud storage.
    </h1>
    <p class="page-tagline">
      Upload files and share a download link that lasts 1 week.
    </p>
  </div>

  {{file-upload files=model}}
</section>
