<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head 
    content must come *after* these tags -->
    
    <title>Raven - Send files faster than lightning</title>
    <meta name="description" content="Upload files to Raven, and it will generate a special URL from which the files can be downloaded.">
    <meta name="author" content="Raven">
    
    <!-- Facebook Meta -->
    <meta property="og:title" content="Raven - Send files faster than lightning" >
    
    <meta property="og:site_name" content="Raven">
    <meta property="og:url" content="https://tryraven.com">
    <meta property="og:image" content="{{rootURL}}assets/img/logo-share.png">
    <meta property="og:description" content="Upload files to Raven, and it will generate a special URL from which the files can be downloaded.">
    
    {{content-for "head"}}
    
    <!-- Favicons [Generated at http://realfavicongenerator.net]
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{rootURL}}assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{rootURL}}assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{rootURL}}assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{rootURL}}assets/img/favicon/manifest.json">
    <link rel="mask-icon" color="#0e7dd8"
          href="{{rootURL}}assets/img/favicon/safari-pinned-tab.svg">
    <meta name="theme-color" content="#ffffff">
        
    
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link rel="stylesheet" href="{{rootURL}}assets/raven.css">

    <!-- IE support
    ================================================== -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media 
    queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js">
    </script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js">
    </script>
    <![endif]-->

    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}
    
    <!-- JavaScript
    ================================================== -->
    <!-- Google analytics -->
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-83050227-1', 'auto');
     ga('send', 'pageview');
    </script>
    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/raven.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
