<!-- Navigation Bar
================================================== -->
<nav class="navbar navbar--home" role="navigation">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        <span class="logo"></span>
      </a>
      
      <!--
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar--home"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
    </div> <!-- /.navbar-header -->
    
    <!--
    <div id="navbar--home" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li  {{action "collapseNavbar"}}>
          {{link-to "Pricing" "home.pricing"}}
        </li>
        
        <li class="hidden-xs">
          {{link-to "Sign In" "home.signin"}}
        </li>
        
        <li class="hidden-xs">
          {{link-to "Sign Up" "home.signup" class="is-primary"}}
        </li>
        
        <li class="nav-account visible-xs">
          <div class="row">
            <div class="col-xs-6" {{action "collapseNavbar"}}>
              {{link-to "Sign In" "home.signin"}}
            </div>
            <div class="col-xs-6" {{action "collapseNavbar"}}>
              {{link-to "Sign Up" "home.signup"  class="is-primary"}}
            </div>
          </div>
        </li>
      </ul>
    </div> --> <!-- /.navbar-collapse -->
    
  </div> <!-- /.container-fluid -->
</nav>


{{outlet}}


<!-- Footer
================================================== -->
<footer class="footer footer--home">
  <div class="container-fluid">
    <div class="footer-nav">
      <a class="copyright" href="http://nnoduka.com" target="_blank">
        © {{currentYear}} <span class="hidden-xs">Noddy Eruchalu</span></a>
      <span  {{action "collapseNavbar"}}>
        {{link-to "Privacy" "home.privacy"}}
      </span>
      <span {{action "collapseNavbar"}}>
        {{link-to "Terms" "home.terms"}}
      </span>
      <span>
        <a href="mailto:noddy@nnoduka.com" >
          Contact</a>
      </span>
    </div> <!-- /.footer-nav -->
    
    <div class="footer-brand">
      <a href="/" class="footer-logo">
        <span class="logo"></span>
      </a>
    </div>
    
  </div> <!-- /.container-fluid -->
</footer>
